<main>
    <h1>Chat del E-Commerce de Tomi</h1>
    <div>
        {{!-- Input donde se escribe el mensaje --}}
        <input type="text" name="chatBox" id="chatBox"> 
    </div>
    <div>
        {{!-- Div donde se van a mostrar los manesajes --}}
        <ul id="messageLog"></ul>
    </div>
</main>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/chat.js"></script>