<main>
    <h1>Iniciar Sesiòn</h1>
    <form action="api/sessions/login" method="POst">
        <label>Email</label>
        <input type="text" name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <button>Ingresar</button>
    </form>
</main>