<main>
    <h1>Iniciar Sesión</h1>
    <form id="formLogin" onsubmit="login(event)">
        <label>Email</label>
        <input type="text" name="email" id="email" required>
        <label>Contraseña</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Ingresar</button>
        <a href="/register">Registrarse</a>
    </form>

    <div>
        <a href="/api/sessions/github">Github</a>
    </div>
</main>

<script src="/js/login.js"></script>
