<main>
    <h1>Iniciar Sesi칩n</h1>
    <form id="formLogin" onsubmit="login(event)">
        <label>Email</label>
        <input type="text" name="email" id="email" required>
        <label>Contrase침a</label>
        <input type="password" name="password" id="password" required>
        <div>
        <button type="submit">Ingresar</button>
        <a href="/api/sessions/github">Iniciar con Github</a>
        </div>

        <a href="/register">Registrarse</a>
        <a href="/restorePassword">Restablecer contrase침a</a>
    </form>

</main>

<style>
    form {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: auto;
    }
</style>

<script>
    async function login(event) {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/api/sessions/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, password }),
        });

        if (response.ok) {
            window.location.href = '/products' // Redirigir a la p치gina de productos si el login es exitoso
        } else {
            const result = await response.json();
            alert(`Error: ${result.error}`);
        }
    }
</script>
