<h1>Pagina para administrar usuarios</h1>
<div style="display: flex; flex-direction: column;">
    <form style="margin-bottom: 20px;">
        <label style="font-weight: 700; margin: 10px;">Ingresar mail de usuario:</label>
        <input style="width: 15vw; height: 20px; border-radius: 2px;" type="mail" placeholder="123@example.com" id="userMail" required>
    </form>

    </div>
        <button id="infoBtn">Ver Info</button>
        <button id="roleBtn">Cambiar Rol</button>
        <button id="deleteBtn">Eliminar usuario</button>
        <button style="width: auto;" id="deleteInactivesBtn">Eliminar usuarios inactivos</button>
    <div>
</div>

<div id="userInfo" style="margin-top: 20px;"></div>

<script src="/js/manageUsers.js"></script>