<main>
    <h1>Datos del usuario</h1>
    <p>Nombre: {{user.firstName}}</p>
    <p>Apellido: {{user.lastName}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
<button class="logoutBtn" id="logoutBtn">Cerrar Sesión</button>
</main>

<script>
    document.getElementById('logoutBtn').addEventListener('click', async () => {
        try {
            const response = await fetch('/api/sessions/logout', { method: 'POST' });
            if (response.ok) {
                alert('Sesión cerrada con exito')
                window.location.href = '/login';
            } else {
                console.error('Error al cerrar sesión');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>