<main>
    <h1>Registrarse</h1>
    <form action="api/sessions/register" method="POST">
        <label>Nombre</label>
        <input type="text" name="firstName">
        <label>Apellido</label>
        <input type="text" name="lastName">
        <label>Mail</label>
        <input type="email" name="email">
        <label>Edad</label>
        <input type="number" name="age">
        <label>Contraseña</label>
        <input type="password" name="password">
        <button>Registrarse</button>
    </form>
</main>