<main>
    <h2>Indica tu casilla de Email</h2>
    <p>Se te enviará un correo con un link para restablecer la constraseña</p>

    <input style="text-align: center;" placeholder="Correo Electrónico" type="text" id="userMail">
    <button onclick="restorePassword()">Restablecer Contraseña</button>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main input {
        width: 250px;
        height: 20px;
        border-radius: 10px;
    }

    h2 {
        margin: 0;
    }

</style>

<script>
    async function restorePassword() {
        const userMail = document.getElementById('userMail').value;

            if (!userMail) {
                alert("Por favor, ingresa un correo electrónico.");
                return;
        }

        const response = await fetch('/api/sessions/restorePassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({userMail})
        })

            if (response.ok) {
                alert('Se ha enviado un correo para restablecer la contraseña.');
        } else {
            const result = await response.json();
            alert(`Error: ${result.error}`);
        }
    }
</script>