.cart {
    display: flex;
    flex-wrap: wrap;
}
.cartItem{
    background-color: rgba(37, 226, 56, 0.792);
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

p, h2 {
    text-align: center;
}

button {
    width: 170px;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(141, 119, 119, 0.534);
}

.keepBuying {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.keepBuying a {
    background-color: rgb(41, 41, 41);
    color: white;
    margin: 30px;
    border-radius: 15px;
    height: 35px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.keepBuying a:hover {
    background-color: black;
    scale: 1.025;
}