body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.pagination {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 150px;
    margin: auto;
}

.productsList {
    display: flex;
    flex-wrap: wrap
}

.productCard {
    background-color: rgba(47, 239, 34, 0.638);
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 2px solid grey;
    border-radius: 10px;
}

.productCard h2 {
    width: 100%;
    text-align: center;
    margin-left: 0;
}

.productButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 5px;
}

.productButtons button {
    border-radius: 5px;
    border-width: 0.2px;
}

.productButtons button:hover {
    background-color: rgba(145, 145, 145, 0.63);
}

.cartLink {
    position: absolute;
    right: 40px;
    top: 20px;
}

.cartLink svg:hover {
    scale: 1.1;
}