<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- TOASTIFY --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {{!-- ESTILOS --}}
    <link rel="stylesheet" href="/css/productsStyles.css">
    <link rel="stylesheet" href="/css/chatStyles.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/productDetailStyles.css">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}} {{!-- Acá se renderizará cada plantilla de handlebars --}}
</body>

{{!-- TOASTIFY --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</html>